.container.mt-5 {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    padding-top: 30px;
    

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #343a40;
    color: #ffffff;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transform: translateX(0);
}

.sidebar.collapsed {
    transform: translateX(-140px);
    width: 60px;
}

.sidebar .menu-item {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.sidebar .menu-item a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar .menu-item a .material-icons {
    margin-right: 10px;
}

.sidebar .menu-item .menu-text {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .menu-item .menu-text {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 576px) {
    .sidebar {
        width: 60px;
    }
}

.sidebar.collapsed {
    width: 60px;
}

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #343a40;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.toggle-btn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}
.sidebar.collapsed + .main-content {
    margin-left: 60px;
}

.tooltip-sidebar {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

/* Tooltip que aparece ao lado do ícone na barra lateral */
.tooltip-sidebar .tooltip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 100%; /* Posiciona à direita do ícone */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente em relação ao ícone */
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-left: 10px; /* Distância entre o ícone e o tooltip */
    z-index: 9999; 

}

/* Quando o item da sidebar for hoverado, o tooltip aparece */
.tooltip-sidebar:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999; /* Sobre o overlay */
}
            /* Overlay escuro */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de transparência */
    display: none; /* Inicialmente oculto */
    z-index: 9998; /* Atrás do spinner */
}