<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Funcionário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/index.css">
    <style>

    </style>
</head>
<body>
    <div class="top-header">
        <button id="toggle-btn" class="toggle-btn">
            <i class="material-icons">menu</i>
        </button>
        <span class="user-info">
            {% if username %}
                | Bem-vindo, <b>{{ username }}</b>
            {% else %}
                | Bem-vindo, visitante
            {% endif %}
        </span>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="menu-item">
            <a href="/dashboard">
                <i class="material-icons">dashboard</i>
                <span>Dashboard</span>
            </a>
        </div>
        {% if role == "ADM" %}
        <div class="menu-item">
            <a href="/">
                <i class="material-icons">library_books</i>
                <span>Jornais</span>
            </a>
        </div>
            <div class="menu-item">
                <a href="/admin">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/users">
                    <i class="material-icons">group</i>
                    <span>Usuários</span>
                </a>
            </div>
        {% endif %}
        <div class="menu-item">
            <a href="/logout">
                <i class="material-icons">exit_to_app</i>
                <span>Sair</span>
            </a>
        </div>
    </div>
    <div class="main-content" id="Container-Primario">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Tela de Funcionário</h1>
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="estados" class="form-label">Estados</label>
                        <select id="estados" class="form-select" multiple onchange="atualizarDiarios()">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="TS">Tribunais Superiores</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="diarios" class="form-label">Diários</label>
                        <select id="diarios" class="form-select" multiple></select>
                    </div>
                    <button class="btn btn-primary w-100" onclick="adicionar()">Adicionar</button>
                    <h4 class="text-center mt-4">Seus Estados e Diários</h4>
                    <div class="lateral-section" id="user-actions"></div>
                </div>
                <div class="stream-table">
                    <h4 class="text-center">Dados do Usuário</h4>
                    <div class="col-md-4 table-container-scroll" id="table_stream">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Estado</th>
                                    <th>Diário</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="stream-table-body">
                                <!-- Dados serão inseridos dinamicamente aqui -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>
