<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkSpace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="https://resources-lig.s3.amazonaws.com/images/logo-thumbnail-whatsapp.png">

    <style>

    </style>
</head>
<body>
    <div class="top-header">
        <button id="toggle-btn" class="toggle-btn">
            <i class="material-icons">menu</i>
        </button>
        <span class="user-info">
            {% if username %}
                | Bem-vindo, <b>{{ username }}</b>
            {% else %}
                | Bem-vindo, visitante
            {% endif %}
        </span>
    </div>
    <div id="sidebar" class="sidebar">
        <div class="menu-item">
            <a href="/dashboard">
                <i class="material-icons">dashboard</i>
                <span>Dashboard</span>
            </a>
        </div>
        {% if role == "ADM" %}
        <div class="menu-item">
            <a href="/">
                <i class="material-icons">library_books</i>
                <span>Jornais</span>
            </a>
        </div>
            <div class="menu-item">
                <a href="/admin">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/relatorio" title="Relatório">
                    <i class="material-icons">assessment</i>
                    <span class="menu-text">Relatório</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/users">
                    <i class="material-icons">group</i>
                    <span>Usuários</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/confeccao_pecas">
                    <i class="material-icons">add_home_work</i>
                    <span>Confecção de peças</span>
                </a>
            </div>
        {% endif %}
        <div class="menu-item">
            <a href="/logout">
                <i class="material-icons">exit_to_app</i>
                <span>Sair</span>
            </a>
        </div>
    </div>
    <div class="main-content" id="Container-Primario">
        <div class="container mt-5">
            <h1 class="text-center mb-4">WorkSpace</h1>
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="estados" class="form-label">Estados</label>
                        <select id="estados" class="form-select" required  onchange="atualizarDiarios()">
                            <option value="" disabled selected>Selecione o estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="TS">Tribunais Superiores</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="diarios" class="form-label">Diários</label>
                        <div id="diarios-container">
                            <!-- Checkboxes para os diários serão inseridos dinamicamente aqui -->
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="complementoCheckbox">
                                <label class="form-check-label" for="complementoCheckbox">
                                    Complemento
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <label for="dataComplemento" class="form-label me-2"><strong>Data da publicação</strong> </label>
                                <input type="date" id="dataComplemento" class="form-control" style="width: auto;">
                            </div>
                        </div>
                    </div>
                    
                    
                    <button class="btn btn-primary w-100" onclick="adicionar()">Adicionar</button>
                    <h4 class="text-center mt-4">Seus Estados e Diários</h4>
                    <div class="lateral-section" id="user-actions"></div>
                </div>
                <div class="stream-table">
                    <h4 class="text-center">Diários</h4>
                    <div class="col-md-4 table-container-scroll" id="table_stream">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-column="username" class="sortable"><a href="#" onclick="ordenarTabela('username')">Username <span></span></a></th>
                                    <th data-column="estado" class="sortable"><a href="#" onclick="ordenarTabela('estado')">Estado <span></span></a></th>
                                    <th data-column="diario" class="sortable"><a href="#" onclick="ordenarTabela('diario')">Diário <span></span></a></th>
                                    <th data-column="complemento" class="sortable"><a href="#" onclick="ordenarTabela('complemento')">Complemento <span></span></a></th>
                                    <th data-column="data_publicacao" class="sortable"><a href="#" onclick="ordenarTabela('data_publicacao')">Data Pub <span></span></a></th>
                                    <th data-column="status" class="sortable"><a href="#" onclick="ordenarTabela('status')">Status <span></span></a></th>
                                </tr>
                            </thead>
                            <tbody id="stream-table-body">
                                <!-- Dados inseridos dinamicamente -->
                            </tbody>
                        </table>
                    </div>
                
                    <div class="stream-table mt-3">
                        <h4 class="text-center">Estados sendo lidos
                        </h4>
                        <div class="table-container-scroll" style="text-align: center;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Usuário</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody id="state-table-body">
                                    <!-- Dados dinâmicos -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/static/js/index.js"></script>
</body>
</html>
